<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
       <!-- configure target class -->
    <bean id="showcar" class="com.nt.service.CarShowRoom"/>
    <bean id="aspect" class="com.nt.aspect.TestDriveAdvice"/>
    <aop:config>
         <aop:pointcut id="ptc" expression="execution(String com.nt.service.CarShowRoom.purchaseCar(..))"/>
         <aop:aspect ref="aspect">
           <aop:before method="testDriving" pointcut-ref="ptc"/>
         </aop:aspect>
    </aop:config>
</beans>
